In [52]:
import pandas as pandas
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [53]:
df=pandas.read_csv('Churn_Modelling.csv')

In [54]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [55]:
#preprocessing the data
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [56]:
#encode categorical data
LabelEncoder_Gender=LabelEncoder()
df['Gender']=LabelEncoder_Gender.fit_transform(df['Gender'])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [57]:
from sklearn.preprocessing import OneHotEncoder
OneHotEncoder_geo=OneHotEncoder()
geo_emco=OneHotEncoder_geo.fit_transform(df[['Geography']])
geo_emco

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [58]:
OneHotEncoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [59]:
import pandas as pd
geo_df=pd.DataFrame(geo_emco.toarray(),columns=OneHotEncoder_geo.get_feature_names_out(['Geography']))

In [60]:
geo_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [61]:
##combine one hot encoder columns with orignal data
data=pd.concat([df.drop('Geography',axis=1),geo_df],axis=1)

In [62]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [63]:
## save the encoders and sscaler
with open('label_encoder_gender.pkl','wb') as f:
    pickle.dump(LabelEncoder_Gender,f)
with open('onehot_encoder_geo.pkl','wb') as f:
    pickle.dump(OneHotEncoder_geo,f)

In [64]:
## Dvide the data into train and test
X=data.drop('Exited',axis=1)
y=data['Exited']
scaler=StandardScaler()

In [65]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [66]:
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]], shape=(8000, 12))

In [67]:
with open('scaler.pkl','wb') as f:
    pickle.dump(scaler,f)

## ANN Implement

In [68]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
import datetime

In [69]:
(x_train.shape[1],)

(12,)

In [70]:
model=Sequential(
    [
        Dense(64,activation='relu',input_shape=(x_train.shape[1],)),
        Dense(32,activation='relu'),
        Dense(1,activation='sigmoid')
        
    ]
)

C:\Users\a4ana\AppData\Roaming\Python\Python313\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [71]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [72]:
import tensorflow as tf
opt = tf.keras.optimizers.Adam(learning_rate=0.01)
loss = tf.keras.losses.BinaryCrossentropy()

In [73]:
## commile the model
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [74]:
##Setup the Tensorboard 
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping
log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S") 
tensorflow_callback=TensorBoard(log_dir=log_dir, histogram_freq=1)

In [75]:
##Setup EarlyStopping
early_stopping=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [76]:
#split the data
history=model.fit(
    x_train,
    y_train,
    validation_data=(x_test,y_test),
   epochs=50,
   callbacks=[tensorflow_callback,early_stopping] 
)

Epoch 1/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8390 - loss: 0.3921 - val_accuracy: 0.8585 - val_loss: 0.3487
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8559 - loss: 0.3587 - val_accuracy: 0.8505 - val_loss: 0.3460
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8595 - loss: 0.3478 - val_accuracy: 0.8535 - val_loss: 0.3491
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8605 - loss: 0.3428 - val_accuracy: 0.8490 - val_loss: 0.3541
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8605 - loss: 0.3389 - val_accuracy: 0.8585 - val_loss: 0.3528
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8579 - loss: 0.3403 - val_accuracy: 0.8605 - val_loss: 0.3526
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8606 - loss: 0.3352 - val_accuracy: 0.8565 - val_loss: 0.3698
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8625 - loss: 0.3320 - val_accuracy: 0.8545 - val_loss: 0.3478
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8637 - loss: 0.3349 - val_accuracy: 0.8595 - val_loss: 0.3429
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8644 - loss: 0.3272 - val_accuracy: 0.8600 - val_loss: 0.3505
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8630 - loss: 0.3297 - val_accuracy: 0.8660 - val_loss: 0.3526
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8652 - loss: 0.3238 - val_accuracy: 0.8635 - val_loss: 0.3545
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8639 - loss: 0.3230 - val_accuracy: 0.8615 - val_loss: 0.3487
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8677 - loss: 0.3188 - val_accuracy: 0.8520 - val_loss: 0.3822
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8687 - loss: 0.3220 - val_accuracy: 0.8610 - val_loss: 0.3493
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8679 - loss: 0.3166 - val_accuracy: 0.8600 - val_loss: 0.3674
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8700 - loss: 0.3133 - val_accuracy: 0.8570 - val_loss: 0.3620
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8715 - loss: 0.3105 - val_accuracy: 0.8530 - val_loss: 0.3716
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8706 - loss: 0.3112 - val_accuracy: 0.8535 - val_loss: 0.3764

In [77]:
model.save('churn_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [79]:
##Load tensorboard Extension
!pip install tensorboard


%load_ext tensorboard

Requirement already satisfied: tensorboard in c:\users\a4ana\appdata\roaming\python\python313\site-packages (2.20.0)
Requirement already satisfied: absl-py>=0.4 in c:\users\a4ana\appdata\roaming\python\python313\site-packages (from tensorboard) (2.3.1)
Requirement already satisfied: grpcio>=1.48.2 in c:\users\a4ana\appdata\roaming\python\python313\site-packages (from tensorboard) (1.76.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\a4ana\appdata\roaming\python\python313\site-packages (from tensorboard) (3.9)
Requirement already satisfied: numpy>=1.12.0 in c:\users\a4ana\appdata\roaming\python\python313\site-packages (from tensorboard) (2.2.6)
Requirement already satisfied: packaging in c:\users\a4ana\appdata\roaming\python\python313\site-packages (from tensorboard) (25.0)
Requirement already satisfied: pillow in c:\users\a4ana\appdata\roaming\python\python313\site-packages (from tensorboard) (12.0.0)
Requirement already satisfied: protobuf!=4.24.0,>=3.19.6 in c:\users\a4ana\appdata\roaming\python\python313\site-packages (from tensorboard) (6.33.0)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\a4ana\appdata\roaming\python\python313\site-packages (from tensorboard) (80.9.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\a4ana\appdata\roaming\python\python313\site-packages (from tensorboard) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\a4ana\appdata\roaming\python\python313\site-packages (from tensorboard) (3.1.3)
Requirement already satisfied: typing-extensions~=4.12 in c:\users\a4ana\appdata\roaming\python\python313\site-packages (from grpcio>=1.48.2->tensorboard) (4.15.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\a4ana\appdata\roaming\python\python313\site-packages (from werkzeug>=1.0.1->tensorboard) (3.0.2)
The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [83]:
!pip show tensorboard

Name: tensorboard
Version: 2.20.0
Summary: TensorBoard lets you watch Tensors Flow
Home-page: https://github.com/tensorflow/tensorboard
Author: Google Inc.
Author-email: packages@tensorflow.org
License: Apache 2.0
Location: C:\Users\a4ana\AppData\Roaming\Python\Python313\site-packages
Requires: absl-py, grpcio, markdown, numpy, packaging, pillow, protobuf, setuptools, tensorboard-data-server, werkzeug
Required-by: tensorflow

In [84]:
%reload_ext tensorboard
%tensorboard --logdir logs/fit

ERROR: Could not find `tensorboard`. Please ensure that your PATH
contains an executable `tensorboard` program, or explicitly specify
the path to a TensorBoard binary by setting the `TENSORBOARD_BINARY`
environment variable.

In [85]:
import os
os.environ['TENSORBOARD_BINARY'] = r"C:\Users\a4ana\AppData\Roaming\Python\Python313\Scripts\tensorboard.exe"

In [87]:
%reload_ext tensorboard
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6007 (pid 19988), started 0:01:58 ago. (Use '!kill 19988' to kill it.)