In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
import pickle

In [7]:
df=pd.read_csv("Churn_Modelling.csv")

In [8]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [10]:
#encode categorical data
LabelEncoder_Gender=LabelEncoder()
df['Gender']=LabelEncoder_Gender.fit_transform(df['Gender'])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [11]:
from sklearn.preprocessing import OneHotEncoder
OneHotEncoder_geo=OneHotEncoder()
geo_emco=OneHotEncoder_geo.fit_transform(df[['Geography']])
geo_emco

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [12]:
OneHotEncoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [13]:
import pandas as pd
geo_df=pd.DataFrame(geo_emco.toarray(),columns=OneHotEncoder_geo.get_feature_names_out(['Geography']))

In [14]:
##combine one hot encoder columns with orignal data
data=pd.concat([df.drop('Geography',axis=1),geo_df],axis=1)

In [15]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [16]:
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [18]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [19]:
## save the encoders and sscaler
with open('label_encoder_gender.pkl','wb') as f:
    pickle.dump(LabelEncoder_Gender,f)
with open('onehot_encoder_geo.pkl','wb') as f:
    pickle.dump(OneHotEncoder_geo,f)
with open('scaler.pkl','wb') as f:
    pickle.dump(scaler,f)

## Ann regression

from t

In [20]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense

In [21]:
## Build Model
model=Sequential(
    [
        Dense(64,activation='relu',input_shape=(x_train.shape[1],)),
        Dense(32,activation='relu'),
        Dense(1)  #output layer for regression
    ]
)
model.compile(optimizer='adam',loss='mean_squared_error',metrics=['mae'])

C:\Users\a4ana\AppData\Roaming\Python\Python313\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [22]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [23]:
from keras.callbacks import EarlyStopping
import datetime
log_dir="regression_logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=tf.keras.callbacks.TensorBoard(log_dir=log_dir,histogram_freq=1)

In [24]:
EarlyStopping_monitor=EarlyStopping(monitor='val_loss',patience=10,mode='min',verbose=1)

In [25]:
## train the data
history=model.fit(
    x_train,y_train,
    validation_data=(x_test,y_test),
    epochs=100,
    callbacks=[tensorboard_callback,EarlyStopping_monitor])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - loss: 13384829952.0000 - mae: 100383.0625 - val_loss: 13011569664.0000 - val_mae: 98541.6250
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 13255385088.0000 - mae: 99734.7812 - val_loss: 12753172480.0000 - val_mae: 97238.4141
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 12795498496.0000 - mae: 97457.1172 - val_loss: 12082534400.0000 - val_mae: 93857.6094
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 11873203200.0000 - mae: 92888.1719 - val_loss: 10939361280.0000 - val_mae: 88075.2656
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 10500974592.0000 - mae: 86022.8125 - val_loss: 9413261312.0000 - val_mae: 80394.3281
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 8828170240.0000 - mae: 77666.7656 - val_loss: 7716255744.0000 - val_mae: 71933.2188
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 7110743552.0000 - mae: 69040.6406 - val_loss: 6122685952.0000 - val_mae: 63980.2695
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 5622066176.0000 - mae: 61494.6211 - val_loss: 4873572352.0000 - val_mae: 57620.2070
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 4545901056.0000 - mae: 55974.1641 - val_loss: 4078251264.0000 - val_mae: 53540.5625
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3909442048.0000 - mae: 52716.8203 - val_loss: 3675609088.0000 - val_mae: 51455.0000
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3601346816.0000 - mae: 51115.6172 - val_loss: 3510639872.0000 - val_mae: 50644.9805
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3475441920.0000 - mae: 50461.8086 - val_loss: 3453057024.0000 - val_mae: 50401.2148
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3423502336.0000 - mae: 50189.7305 - val_loss: 3430405120.0000 - val_mae: 50324.1055
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3399059712.0000 - mae: 50070.1250 - val_loss: 3418498048.0000 - val_mae: 50276.9023
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3384267264.0000 - mae: 49987.9062 - val_loss: 3409701888.0000 - val_mae: 50237.3945
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3374007552.0000 - mae: 49934.8320 - val_loss: 3401700864.0000 - val_mae: 50200.3242
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3366015744.0000 - mae: 49894.8906 - val_loss: 3396067840.0000 - val_mae: 50181.4531
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3359410432.0000 - mae: 49865.5938 - val_loss: 3389699584.0000 - val_mae: 50148.8398
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3353296640.0000 - mae: 49833.6289 - val_loss: 3385168896.0000 - val_mae: 50132.0195
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3348121856.0000 - mae: 49801.8320 - val_loss: 3381755136.0000 - val_mae: 50119.9688
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3343538688.0000 - mae: 49777.4922 - val_loss: 3376478208.0000 - val_mae: 50096.1094
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3339974912.0000 - mae: 49760.7148 - val_loss: 3374276864.0000 - val_mae: 50089.8945
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3336137984.0000 - mae: 49739.1797 - val_loss: 3371201536.0000 - val_mae: 50077.4141
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3333232640.0000 - mae: 49721.9961 - val_loss: 3368972800.0000 - val_mae: 50068.4336
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3330406144.0000 - mae: 49707.0859 - val_loss: 3365481472.0000 - val_mae: 50052.0508
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3327914240.0000 - mae: 49692.0195 - val_loss: 3363371008.0000 - val_mae: 50046.9297
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3325321728.0000 - mae: 49675.1055 - val_loss: 3362804992.0000 - val_mae: 50050.0117
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3322743808.0000 - mae: 49660.7305 - val_loss: 3360833792.0000 - val_mae: 50044.1094
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3320744448.0000 - mae: 49647.1875 - val_loss: 3359738624.0000 - val_mae: 50039.4492
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3318933504.0000 - mae: 49635.3438 - val_loss: 3358857216.0000 - val_mae: 50039.9648
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3317303808.0000 - mae: 49629.8359 - val_loss: 3356180224.0000 - val_mae: 50026.4023
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3315352576.0000 - mae: 49612.5977 - val_loss: 3355059456.0000 - val_mae: 50024.1641
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3313739776.0000 - mae: 49603.6289 - val_loss: 3354272512.0000 - val_mae: 50020.9688
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3312301824.0000 - mae: 49595.3789 - val_loss: 3353285120.0000 - val_mae: 50016.2539
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3310760960.0000 - mae: 49582.5898 - val_loss: 3353705216.0000 - val_mae: 50022.0039
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3309571072.0000 - mae: 49578.6875 - val_loss: 3351749120.0000 - val_mae: 50011.8555
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3308618496.0000 - mae: 49565.6445 - val_loss: 3351858944.0000 - val_mae: 50014.5977
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3307616256.0000 - mae: 49564.7383 - val_loss: 3350378752.0000 - val_mae: 50008.2031
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3306448128.0000 - mae: 49555.3477 - val_loss: 3350373632.0000 - val_mae: 50009.4102
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3305626368.0000 - mae: 49549.0000 - val_loss: 3349986560.0000 - val_mae: 50007.2070
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3304480768.0000 - mae: 49538.6133 - val_loss: 3350237440.0000 - val_mae: 50010.6641
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3303609088.0000 - mae: 49535.0195 - val_loss: 3349590016.0000 - val_mae: 50008.1367
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3302843392.0000 - mae: 49526.7344 - val_loss: 3348296448.0000 - val_mae: 50006.0547
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3301580032.0000 - mae: 49517.5391 - val_loss: 3348744192.0000 - val_mae: 50009.5977
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3301136128.0000 - mae: 49516.6211 - val_loss: 3348872704.0000 - val_mae: 50007.7148
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3299969280.0000 - mae: 49508.9844 - val_loss: 3349187328.0000 - val_mae: 50012.7031
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3299494912.0000 - mae: 49512.7188 - val_loss: 3347650816.0000 - val_mae: 50005.1875
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3298758656.0000 - mae: 49497.3438 - val_loss: 3348847872.0000 - val_mae: 50014.3359
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3298284544.0000 - mae: 49496.6328 - val_loss: 3346746624.0000 - val_mae: 50001.6016
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3297675264.0000 - mae: 49492.9297 - val_loss: 3350149632.0000 - val_mae: 50023.7930
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3297217792.0000 - mae: 49485.5391 - val_loss: 3347381248.0000 - val_mae: 50006.3359
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3296521216.0000 - mae: 49481.5977 - val_loss: 3348862464.0000 - val_mae: 50018.9219
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3295990016.0000 - mae: 49479.4570 - val_loss: 3348686336.0000 - val_mae: 50019.3086
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3295088640.0000 - mae: 49472.1797 - val_loss: 3347393280.0000 - val_mae: 50008.9609
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3294705152.0000 - mae: 49468.4102 - val_loss: 3348636672.0000 - val_mae: 50016.0039
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3294465024.0000 - mae: 49467.6445 - val_loss: 3347120384.0000 - val_mae: 50006.6914
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3293870592.0000 - mae: 49458.6055 - val_loss: 3349713664.0000 - val_mae: 50026.1797
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3293507072.0000 - mae: 49458.2734 - val_loss: 3348598272.0000 - val_mae: 50020.5898
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3292900608.0000 - mae: 49450.8398 - val_loss: 3348723200.0000 - val_mae: 50022.8320
Epoch 59: early stopping

In [30]:
%load_ext tensorboard
!pip show tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard
Name: tensorboard
Version: 2.20.0
Summary: TensorBoard lets you watch Tensors Flow
Home-page: https://github.com/tensorflow/tensorboard
Author: Google Inc.
Author-email: packages@tensorflow.org
License: Apache 2.0
Location: C:\Users\a4ana\AppData\Roaming\Python\Python313\site-packages
Requires: absl-py, grpcio, markdown, numpy, packaging, pillow, protobuf, setuptools, tensorboard-data-server, werkzeug
Required-by: tensorflow

In [32]:
import os
os.environ.pop('TENSORBOARD_BINARY', None)

'C:\\Users\\a4ana\\AppData\\Roaming\\Python\\Python313\\site-packages'

In [38]:

%tensorboard --logdir regression_logs/fit

ERROR: Could not find `tensorboard`. Please ensure that your PATH
contains an executable `tensorboard` program, or explicitly specify
the path to a TensorBoard binary by setting the `TENSORBOARD_BINARY`
environment variable.

In [39]:
test_loss,test_mae=model.evaluate(x_test,y_test)
print(f"Test MAE: {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3348723200.0000 - mae: 50022.8320
Test MAE: 50022.83203125

In [41]:
model.save('salary_regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.